$transFirst: -500px;
@mixin fadeIn {
    animation: fadein 2s 2s forwards;
    background-color: #ffffff;
    opacity: 0;
}

@mixin discord {
    opacity: 0;
    transform: translateY(-20px);
    animation: discord 500ms forwards;
}

html,
body {
    margin: 0;
    padding: 10px;

    background-color: #36393f;
    color: #e4e4e4;
    font-family: "Work Sans", Work Sans, Arial, Helvetica, sans-serif;
}


.wrap {
    margin: 0 auto;
    max-width: 68rem;
    text-align: justify;

}

.discord-fake {
    @include discord;
    text-align: center;
    margin: 5% 0 4% 0;

    svg {
        width: 38%;
    }
}

#point-giselle {
    font-size: 26px;
    font-weight: bold;
    margin: 0 0 7px 0;
    font-family: Lora;
    font-size: 3em;
    line-height: 0.5;
}

.desc {
    margin: 3% 0 8% 0;
    text-shadow: 1px 2px 6px #0000005e;
}

.md {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: hsl(171, 100%, 41%);
}

.buttons {
    display: flex;
    justify-content: space-around;
    opacity: 0;
    animation: showbtns 750ms 1500ms forwards;
    #btn1,
    #btn2 {
        flex: 0 1 10rem;
        text-align: center;
        padding: 8px;

        box-shadow: inset 0px 0px 11px rgba(255, 255, 255, 0.48);
        background: linear-gradient(109.54deg, #18C8FF 0%, rgb(122, 195, 255) 98.55%);
        box-shadow: 0px 1.30781px 6.53903px rgba(0, 0, 0, 0.25);
        border-radius: 11.5px;
        border-radius: 8px;
        color: #ffffff;
        font-size: 21px;
        text-shadow: 1px 1px 7px rgba(255, 255, 255, 0.38);
        cursor: pointer;
        padding: 10px 0;
        transition: 500ms all;
    }
    #btn1:hover,#btn2:hover {
        transform:matrix(1.05,0.00,0.00,1.00,0,-5);

    }
}


@keyframes fadein {
    from {
        background: #ffffff;
        opacity: 0;
        transform: translateY($transFirst);
    }
    to {
        transform: translateY(0);
        background: #36393f;
        opacity: 1;
    }
}
@keyframes discord {
    from {
        
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showbtns {
    from {

      opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.splitting .char {
    animation: slide-in 1s cubic-bezier(.5, 0, .5, 1) both;
    animation-delay: calc(20ms * var(--char-index));
  }
  
  @keyframes slide-in {
    from {
      transform: translateY(1em) rotate(-.1turn) scale(0.1);
      opacity: 0;
    }
  }